/* ***** Common Css **** */
:root {
    scroll-behavior: initial;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
a:hover,
a:focus,
a:active {
    text-decoration: none;
}
ol,
ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
figure{margin: 0;}
a,button {
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    text-decoration: none;
}

body {
    font-family: "Josefin Sans", serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
}
.slick-track,.slick-initialized{
  opacity: 1 !important;
}
.slick-slider {
  opacity: 0;
}
.slick-initialized.slick-slider{
  opacity: 1;
}

.main-wrpper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.container{
    max-width: 1360px;
}
h1,h2{
    font-family: "Kalnia", serif;
}
.mobile-img{
    display: none;
}
/* ***** End Common Css **** */

/* **** Header **** */
header {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    background: transparent;
    padding: 45px 30px;
    z-index: 120;
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
}
header.nav-new{
    background: rgba(242, 238, 228, 1);
    padding: 15px 30px;
}
.navbar .container .navbar-brand,
.navbar .container-fluid .navbar-brand {
    margin-left: 0;
}
.navbar-brand {
    float: none;
    height: auto;
    padding: 0;
}
.navbar-brand img {
    max-width: 100%;
    width: 151px;
}
.navbar {
    background: transparent;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    z-index: 120;
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
}
.nav-row{
    display: flex;
    align-items: center;
    width: 100%;
}
.navbar-light .navbar-nav {
    margin: 0 auto;
}
.navbar-light .navbar-nav li {
    margin-right: 40px;
}
.navbar-light .navbar-nav li:last-child {
    margin-right: 0;
}
.navbar-light .navbar-nav .nav-link {
    padding: 0px;
    text-transform: uppercase;
    color: #B35942;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.15em;
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
    color: #B35942;
}

div.enter-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
ul.language-rw.mobile-lang{
    display: none;
}
ul.language-rw{
    display: flex;
    align-items: center;
    margin-right: 75px;
}
ul.language-rw li{
    margin-right: 20px;
}
ul.language-rw li:last-child{
    margin: 0;
}
ul.language-rw li a{
    font-size: 16px;
    font-weight: 500;
    color: rgba(179, 89, 66, 0.50);
    letter-spacing: 0.15em;
    padding: 0 0;
    display: block;
    line-height: 16px;
    position: relative;
}
ul.language-rw li a:after{
    position: absolute;
    content: '';
    width: 1.2px;
    height: 70%;
    background: #B35942;
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
ul.language-rw li:last-child a:after{display: none;}
ul.language-rw li a:hover,
ul.language-rw li.active a{
    color: #B35942;
}
ul.header-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
ul.header-right li{
    margin-right: 10px;
}
ul.header-right li:last-child{
    margin: 0;
}
ul.header-right li a{
    font-size: 16px;
    color: #B35942;
    line-height: 32px;
}
ul.header-right li a:hover{
    color: #B35942;
}
ul.header-right li a.book-btn{
    padding: 0 12px 0px;
    border: 1px solid #B35942;
    border-radius: 30px;
    height: 32px;
    color: #B35942;
    display: block;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0.15em;
    font-weight: 500;
    text-transform: uppercase;
}
ul.header-right li a.book-btn:hover{
    background: #B35942;
    color: #fff;
}
/* **** End Header **** */

/* **** toggler **** */
.navbar-light .navbar-toggler {background-color: transparent;border-radius: 0;outline: none;box-shadow: none;border: none;height: 40px;width: auto;padding: 0;}
.navbar-light .navbar-toggler:focus {box-shadow: none;outline: none; }
.navbar-light .navbar-toggler .navbar-toggler-icon {background-image: unset;}
.navbar-toggler:active, .navbar-toggler:focus { outline: none; }
.navbar-light .navbar-toggler-icon {width: 24px;height: 18px;background-image: none;position: relative;border-bottom: 2px solid #B35942;transition: all 300ms linear;}
.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {width: 24px;position: absolute;height: 2px;background-color: #B35942;top: 0;left: 0;content: "";z-index: 2;transition: all 300ms linear;}
.navbar-light .navbar-toggler-icon:after {top: 8px;}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {transform: rotate(45deg);}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {transform: translateY(8px) rotate(-45deg);}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {border-color: transparent;}
/* **** End toggler **** */

/* **** Hero Banner **** */
.hero-banner{
    position: relative;
}
.hero-banner-img img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}
.banner-center{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 1;
}
.banner-center figure img{
    height: 75px;
    margin: 0 auto 40px;
    display: table;
}
.btn-main{
    font-weight: 500;
    font-size: 26px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B35942;
    padding: 15px 33px 9px;
    border-radius: 10px;
    border: 1.33px solid #B35942;
    display: table;
}
.btn-main:hover{
    background: #B35942;
    color: #fff;
}
.banner-center .btn-main{
    margin: 0 auto;
}
.mobile-button{
    display: none;
    padding: 14px 0;
    background: #F2EEE4;
}
.scroll-btn{display: none;}
/* **** End Hero Banner **** */

/* **** About **** */
.about-wrp{
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 3.41%, #F2EEE4 17.01%, #F2EEE4 73.16%, rgba(255, 255, 255, 0.5) 94.08%);
}
.restro-wrp{
    padding: 40px 0;
}
.restro-row{
    padding: 40px 0;
    margin: 0 0 35px;
}
.restro-row:last-child{
    margin: 0;
}
.restro-row .row{
    align-items: center;
}
.restro-img img{
    width: 100%;
}
.who-we-wrp .restro-img img{
    width: 80%;
}
.restro-data h1{
    font-size: 70px;
    font-weight: 300;
    color: #B35942;
    line-height: 70px;
    margin: 0 0 20px;
}
.titlebar h2{
    font-size: 70px;
    font-weight: 300;
    color: #B35942;
    line-height: 70px;
    margin: 0 0 20px;
}
.restro-data p{
    font-size: 23px;
    font-weight: 300;
    color: #4F2612;
    line-height: 28px;
    margin: 0 0 20px;
    text-align: justify;
}
.restro-data p strong{
    display: block;
    font-weight: 500;
    font-style: italic;
}
.btn-secondary{
    display: table;
    padding: 15px 16px 11px;
    max-width: 240px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    border: 1.33px solid #B35942;
    color: #B35942;
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 26px;
}
.btn-secondary:hover{
    background: #B35942;
    color: #fff;
}
.restro-family-wrp img{
    width: 100%;
}

.the-dishes-wrp{
    padding: 130px 0;
}
.the-dishes-wrp .row{
    margin: 0 -25px;
}
.the-dishes-wrp .row .col-md-6{
    padding: 0 25px;
}
.dishes-img img{
    width: 100%;
}
.dishes-data p{
    font-size: 23px;
    font-weight: 300;
    color: #4F2612;
    line-height: 28px;
    margin: 0 0 40px;
    max-width: 678px;
    text-align: justify;
}


.dishes-slider .slick-dots{
    display: flex;
    align-items: center;   
    justify-content: center; 
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
}
.dishes-slider .slick-dots li{
    line-height: 0;
    margin-right: 10px;
}
.dishes-slider .slick-dots li:last-child{
    margin: 0;
}
.dishes-slider .slick-dots li button{
    width: 10px;
    height: 10px;
    border: none;
    font-size: 0;
    background: #fff;
    border-radius: 100%;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.dishes-slider .slick-dots li.slick-active button{
    background: #4F2612;
}
/* **** End About **** */

/* **** Our History **** */
.our-history-wrp{
    padding: 96px 0 0;
    position: relative;
}
.our-history-wrp p{
    font-size: 23px;
    font-weight: 300;
    color: #4F2612;
    line-height: 28px;
    margin: 0 0 40px;
    text-align: justify;
}
.history-img img{
    width: 100%;
}
/* **** End Our History **** */

/* **** Contact **** */
.contact-wrp{
    padding: 116px 0;
    position: relative;
    background: linear-gradient(180deg, rgba(216, 226, 229, 0) 0%, #D8E2E5 15%);
}
.contact-wrp .titlebar h2{
    margin: 0 0 50px;
}
.contact-data figure a{
    display: table;
}
.contact-data figure img{
    max-width: 281px;
    margin: 0 0 20px;
}
.contact-list{
    margin: 0 0 25px;
}
.contact-list p{
    font-size: 22px;
    font-weight: normal;
    color: #4F2612;
    line-height: 30px;
    margin: 0;
}
.contact-list p a{
    color: #4F2612;
}
.contact-list p a:hover{
    color: #4F2612;
}
.social-bx{
    display: flex;
    align-items: center;
}
.social-bx a{
    display: block;
    text-align: center;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background: #B35942;
    line-height: 48px;
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}
.social-bx a:last-child{
    margin: 0;
}
.social-bx a:hover{
    background: #B35942;
    color: #fff;
}
.map-box{
    width: 100%;
    height: 290px;
    padding: 0 0 0 25px;
}
/* **** End Contact **** */