<div>
    <div k-card k-id="card-1">
        <img k-id="aa" src="https://via.placeholder.com/150" alt="Feature 1 Image"
            style="width:100%; border-radius: 4px; margin-bottom: 1rem;">
        <a href="https://google.com">123456</a>
        <a k-id="bb" href="https://google.com">ewtertertert</a>
        <p k-id="cc">Feature 1 Description</p>
        <img k-id="aa1" src="https://via.placeholder.com/150" alt="Feature 1 Image"
            style="width:100%; border-radius: 4px; margin-bottom: 1rem;">
    </div>
</div>