<div>
    <div k-card k-id="c">
        <img k-id="image-1" src="https://via.placeholder.com/150" alt="Feature 1 Image"
            style="width:100%; border-radius: 4px; margin-bottom: 1rem;">
        <img src="/src/1748445410398_software-software-development.gif" alt="Feature 1 Image"
            style="width:100%; border-radius: 4px; margin-bottom: 1rem;">
        <a href="https://google.com">test1</a>
        <a k-id="link-1" href="https://google.com">ewtertertert</a>
        <p k-id="par-1">Feature 1 Description</p>
    </div>
</div>